<div id="all">
<h1>
  {{title}}
</h1>

<form [formGroup]="myForm">
  <md-input-container>
<input md-input type="text" placeholder="Enter your todo here" formControlName="indata" (keyup.enter)="addTodo()" required />

</md-input-container>
<button md-raised-button  (click)="addTodo()" >Enter</button>
</form>
<ul>
<li *ngFor="let item of list" [@state]="item.state">
  <md-card>
    <md-card-title>
{{item.name}}
</md-card-title>
<md-card-actions>
        <button md-button>LIKE</button>
        <button (click)="delete(item.id)" md-button>DELETE</button>
   </md-card-actions>
</md-card>
</li>
</ul>

</div>
